* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.4;
  background: #0f001a;
  color: #f4e6ff;
  /*background: radial-gradient(circle, #7400cc 0%, #0f001a 100%); - undecided if i like it atm */
}

.container {
  max-width: 600px;
  margin: 6rem auto 4rem;
  padding: 0 10px;
}

.heading {
  font-size: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.accordion {
  list-style: none;
}

.button {
  font-size: 16px;
  background-color: #8200e6;
  color: #f4e6ff;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(167, 51, 255), 0 3px 10px 0 rgba(167, 51, 255);
}

.control {
  font-size: 20px;
}

.answer {
  background-color: #deb3ff;
  color: #0f001a;
  padding: 20px;
  border-radius: 15px;
}
/* activate toggle */
.accordion_item.active .button {
  background-color: #3a0066;
}
.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height ease 0.2s;
}
